.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridColumn{
  margin: 0;
}

.gridItem{
  text-align: center;
  overflow-wrap: break-word;
}

.ui.grid [class*="left floated"].column {
  margin-right: 0;
}

.ui.celled.grid>.row>.column{
  margin-top: 0; 
  margin-bottom: 0;
}

.ui.grid>* {
  padding-left: 0;
}


.ui.grid.createBoardGrid{
  margin-left: 10px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.alertText{
  font-weight: bold;
  color: red;
}

.fill-up {
  position: relative;
  overflow: hidden; 
}

.fill-up::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color);
  transition: top var(--dwell-time) cubic-bezier(0.5, 0, 0.25, 0.7);
}

.fill-up.hovered::after {
  top: 0; 
}

.fill-up:not(.hovered)::after {
  transition: none; 
  top: 100%;
}

.cursor-img {
  position: absolute;
  pointer-events: none;
  width: 70px;
  height: 70px;
  transition: all 0.2s ease-out;
  z-index: 9999;
  opacity: 0;
}

.horizontal-out {
  position: relative; 
}

.horizontal-out::before {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  margin-top: 0;
  left: 50%; 
  transform: translate(-50%, 0); 
  border-top: 10px solid olive; 
  border-bottom: 10px solid olive; 
  width: 0; 
  box-sizing: border-box;
  overflow: hidden;
  transition: width var(--dwell-time) cubic-bezier(0.5, 0, 0.25, 0.7); 
}

.horizontal-out.hovered::before {
  width: calc(100% - 10px); /* Expand width to fill the remaining space */
}

.horizontal-out:not(.hovered)::before {
  transition-duration: 0s;
  width: 0; /* Set width back to 0 */
}
